<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы валют</title>
</head>
<body>
<%- include('partials/header', { user: user }); -%>

<ul class="recipes">
    <li class="recipe">
        <img src="/dollar.png" alt="USD icon">
        <h4>USD</h4>
        <p>Current rate</p>
        <p>$<%=  %></p>
    </li>
    <li class="recipe">
        <img src="/euromaidan.png" alt="EURO icon">
        <h4>EURO</h4>
        <p>Current rate</p>
        <p>$<%=  %></p>
    </li>
    <li class="recipe">
        <img src="/funt.png" alt="USD icon">
        <h4>Funts</h4>
        <p>Current rate</p>
        <p>$<%=  %></p>
    </li>
    <li class="recipe">
        <img src="/frank.png" alt="USD icon">
        <h4>Frank</h4>
        <p>Current rate</p>
        <p>$<%=  %></p>
    </li>
    <li class="recipe">
        <img src="/won.png" alt="USD icon">
        <h4>WON</h4>
        <p>Current rate</p>
        <p>$<%=  %></p>
    </li>
    <li class="recipe">
        <img src="/rupi.png" alt="USD icon">
        <h4>Rupi</h4>
        <p>Current rate</p>
        <p>$<%=  %></p>
    </li>
    <li class="recipe">
        <img src="/hrivna.png" alt="USD icon">
        <h4>Hryvnia</h4>
        <p>Current rate</p>
        <p>$<%=  %></p>
    </li>
    <li class="recipe">
        <img src="/kitai.png" alt="USD icon">
        <h4>Yuán</h4>
        <p>Current rate</p>
        <p>$<%=  %></p>
    </li>
    <li class="recipe">
        <img src="/kron.png" alt="USD icon">
        <h4>Kron</h4>
        <p>Current rate</p>
        <p>$<%=  %></p>
    </li>


</ul>

<%- include('partials/footer'); -%>
</body>
</html>